openapi: 3.2.0
info:
  title: Maxar Geospatial Platform Monitoring Events API
  description: Monitoring API for standing watches over user-defined areas of interest — receive notifications when new imagery is collected, when collection windows close and when analytic detections fire. Profile derived from MGP_SDK `Interface.monitoring` surface; field shapes follow common Maxar monitoring conventions.
  version: 1.0.0
servers:
- url: https://api.maxar.com/monitoring/v1
security:
- bearerAuth: []
tags:
- name: Events
paths:
  /monitors/{monitorId}/events:
    get:
      tags:
      - Events
      summary: List Events For Monitor
      operationId: listEvents
      parameters:
      - name: monitorId
        in: path
        required: true
        schema:
          type: string
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
components:
  schemas:
    Event:
      type: object
      properties:
        id:
          type: string
        monitor_id:
          type: string
        type:
          type: string
          enum:
          - new_image
          - window_closed
          - detection
        occurred_at:
          type: string
          format: date-time
        payload:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
