openapi: 3.0.3
info:
  title: Vantor Hub Account Services Accounts Subscriptions API
  description: Administrative account-management API for Vantor Hub customers — manage users, roles, organisation entitlements, credit balances and API keys. Profile derived from public Vantor Hub docs (hub.vantor.com/docs/admin) and Maxar Geospatial Platform `account_service` SDK conventions; field shapes should be confirmed against live Hub responses.
  version: 1.0.0
servers:
- url: https://api.maxar.com/admin/v1
  description: Vantor Hub production
security:
- bearerAuth: []
tags:
- name: Subscriptions
paths:
  /subscriptions:
    get:
      tags:
      - Subscriptions
      summary: List Webhook Subscriptions
      operationId: listSubscriptions
      responses:
        '200':
          description: Subscriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
    post:
      tags:
      - Subscriptions
      summary: Create Webhook Subscription
      operationId: createSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - monitor_id
              - target_url
              - event_types
              properties:
                monitor_id:
                  type: string
                target_url:
                  type: string
                  format: uri
                event_types:
                  type: array
                  items:
                    type: string
                    enum:
                    - new_image
                    - window_closed
                    - detection
                secret:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
components:
  schemas:
    Subscription:
      type: object
      properties:
        id:
          type: string
        monitor_id:
          type: string
        target_url:
          type: string
          format: uri
        event_types:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
