openapi: 3.2.0
info:
  title: Maxar Geospatial Platform Streaming Image API
  description: 'OGC Streaming services exposing Maxar''s current and historical imagery as WMS, WMTS and WFS layers — implemented behind securewatch.maxar.com and surfaced through the MGP_SDK Python, Java and R clients. Profile derived from the MGP_SDK README ("Open Geospatial Consortium standard protocols: WFS, WMS, WMTS"); endpoint paths follow standard OGC URL patterns.'
  version: 1.0.0
servers:
- url: https://securewatch.maxar.com/earthservice
  description: Maxar SecureWatch
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Image
paths:
  /image:
    get:
      tags:
      - Image
      summary: Download Full Resolution Image
      description: Download a full-resolution image of an area of interest, intersecting one or more catalog identifiers.
      operationId: getImage
      parameters:
      - name: bbox
        in: query
        required: true
        schema:
          type: string
      - name: image_id
        in: query
        schema:
          type: string
      - name: format
        in: query
        schema:
          type: string
          enum:
          - jpeg
          - png
          - geotiff
          default: geotiff
      - name: gsd
        in: query
        schema:
          type: number
          description: Ground sample distance in metres
      responses:
        '200':
          description: Image binary
          content:
            image/tiff: {}
            image/jpeg: {}
            image/png: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKeyAuth:
      type: apiKey
      in: query
      name: connectid
