openapi: 3.2.0
info:
  title: Maxar Geospatial Platform Streaming WMTS API
  description: 'OGC Streaming services exposing Maxar''s current and historical imagery as WMS, WMTS and WFS layers — implemented behind securewatch.maxar.com and surfaced through the MGP_SDK Python, Java and R clients. Profile derived from the MGP_SDK README ("Open Geospatial Consortium standard protocols: WFS, WMS, WMTS"); endpoint paths follow standard OGC URL patterns.'
  version: 1.0.0
servers:
- url: https://securewatch.maxar.com/earthservice
  description: Maxar SecureWatch
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: WMTS
paths:
  /wmtsaccess:
    get:
      tags:
      - WMTS
      summary: WMTS GetCapabilities or GetTile
      operationId: wmtsAccess
      parameters:
      - name: service
        in: query
        required: true
        schema:
          type: string
          enum:
          - WMTS
      - name: request
        in: query
        required: true
        schema:
          type: string
          enum:
          - GetCapabilities
          - GetTile
      - name: layer
        in: query
        schema:
          type: string
      - name: tilematrixset
        in: query
        schema:
          type: string
          example: EPSG:3857
      - name: tilematrix
        in: query
        schema:
          type: string
      - name: tilerow
        in: query
        schema:
          type: integer
      - name: tilecol
        in: query
        schema:
          type: integer
      - name: format
        in: query
        schema:
          type: string
          example: image/png
      responses:
        '200':
          description: WMTS response
          content:
            image/png: {}
            image/jpeg: {}
            application/xml: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKeyAuth:
      type: apiKey
      in: query
      name: connectid
