openapi: 3.2.0
info:
  title: Maxar Geospatial Platform Ordering Estimates API
  description: Order management API for placing, tracking and retrieving deliveries of Maxar archive imagery against WorldView, GeoEye and WorldView Legion sources. Profile derived from MGP_SDK `Interface.ordering` surface; field shapes follow common Maxar ordering conventions and should be confirmed against live responses.
  version: 1.0.0
servers:
- url: https://api.maxar.com/order/v1
security:
- bearerAuth: []
tags:
- name: Estimates
paths:
  /estimates:
    post:
      tags:
      - Estimates
      summary: Estimate Order Cost
      operationId: estimateOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '200':
          description: Estimate
          content:
            application/json:
              schema:
                type: object
                properties:
                  estimated_cost:
                    type: number
                  currency:
                    type: string
                    example: USD
                  area_km2:
                    type: number
                  rate_per_km2:
                    type: number
components:
  schemas:
    OrderRequest:
      type: object
      required:
      - aoi
      - items
      properties:
        name:
          type: string
        aoi:
          type: object
          description: GeoJSON geometry
        items:
          type: array
          items:
            type: object
            properties:
              catalog_id:
                type: string
              collection:
                type: string
        delivery:
          type: object
          properties:
            type:
              type: string
              enum:
              - s3
              - gcs
              - download
            destination:
              type: string
        output_format:
          type: string
          enum:
          - geotiff
          - jpeg2000
          - nitf
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
