openapi: 3.2.0
info:
  title: Maxar Geospatial Platform Tasking Feasibility API
  description: Real-time tasking API for commissioning new satellite collections against the Vantor Constellation — WorldView-1/2/3, GeoEye-1 and the six-satellite WorldView Legion next-generation fleet launched 2024-2026. Profile derived from MGP_SDK `Interface.tasking` surface and Vantor public product descriptions; field shapes follow common Maxar tasking conventions.
  version: 1.0.0
servers:
- url: https://api.maxar.com/tasking/v1
security:
- bearerAuth: []
tags:
- name: Feasibility
paths:
  /feasibility:
    post:
      tags:
      - Feasibility
      summary: Check Tasking Feasibility
      operationId: checkFeasibility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeasibilityRequest'
      responses:
        '200':
          description: Feasibility report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feasibility'
components:
  schemas:
    FeasibilityRequest:
      type: object
      required:
      - aoi
      - start
      - end
      properties:
        aoi:
          type: object
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        platforms:
          type: array
          items:
            type: string
    Feasibility:
      type: object
      properties:
        feasible:
          type: boolean
        windows:
          type: array
          items:
            type: object
            properties:
              start:
                type: string
                format: date-time
              end:
                type: string
                format: date-time
              platform:
                type: string
              expected_cloud_cover:
                type: number
              expected_off_nadir:
                type: number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
