openapi: 3.0.3
info:
  title: Vantor Hub Account Services Accounts Deliveries API
  description: Administrative account-management API for Vantor Hub customers — manage users, roles, organisation entitlements, credit balances and API keys. Profile derived from public Vantor Hub docs (hub.vantor.com/docs/admin) and Maxar Geospatial Platform `account_service` SDK conventions; field shapes should be confirmed against live Hub responses.
  version: 1.0.0
servers:
- url: https://api.maxar.com/admin/v1
  description: Vantor Hub production
security:
- bearerAuth: []
tags:
- name: Deliveries
paths:
  /orders/{orderId}/deliveries:
    get:
      tags:
      - Deliveries
      summary: List Deliveries
      operationId: listDeliveries
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deliveries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Delivery'
components:
  schemas:
    Delivery:
      type: object
      properties:
        id:
          type: string
        order_id:
          type: string
        status:
          type: string
          enum:
          - pending
          - in_progress
          - complete
          - failed
        url:
          type: string
        format:
          type: string
        size_bytes:
          type: integer
        delivered_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
