openapi: 3.2.0
info:
  title: Maxar Geospatial Platform Monitoring Subscriptions API
  description: Monitoring API for standing watches over user-defined areas of interest — receive notifications when new imagery is collected, when collection windows close and when analytic detections fire. Profile derived from MGP_SDK `Interface.monitoring` surface; field shapes follow common Maxar monitoring conventions.
  version: 1.0.0
servers:
- url: https://api.maxar.com/monitoring/v1
security:
- bearerAuth: []
tags:
- name: Subscriptions
paths:
  /subscriptions:
    get:
      tags:
      - Subscriptions
      summary: List Webhook Subscriptions
      operationId: listSubscriptions
      responses:
        '200':
          description: Subscriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
    post:
      tags:
      - Subscriptions
      summary: Create Webhook Subscription
      operationId: createSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - monitor_id
              - target_url
              - event_types
              properties:
                monitor_id:
                  type: string
                target_url:
                  type: string
                  format: uri
                event_types:
                  type: array
                  items:
                    type: string
                    enum:
                    - new_image
                    - window_closed
                    - detection
                secret:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
components:
  schemas:
    Subscription:
      type: object
      properties:
        id:
          type: string
        monitor_id:
          type: string
        target_url:
          type: string
          format: uri
        event_types:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
