openapi: 3.0.3
info:
  title: Maxar Geospatial Platform Ordering API
  description: >-
    Order management API for placing, tracking and retrieving deliveries of
    Maxar archive imagery against WorldView, GeoEye and WorldView Legion
    sources. Profile derived from MGP_SDK `Interface.ordering` surface; field
    shapes follow common Maxar ordering conventions and should be confirmed
    against live responses.
  version: '1.0.0'
servers:
  - url: https://api.maxar.com/order/v1
security:
  - bearerAuth: []
tags:
  - name: Orders
  - name: Deliveries
  - name: Estimates
paths:
  /orders:
    get:
      tags: [Orders]
      summary: List Orders
      operationId: listOrders
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [pending, in_progress, complete, failed, cancelled] } }
        - { name: limit,  in: query, schema: { type: integer, default: 25 } }
      responses:
        '200':
          description: Orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
    post:
      tags: [Orders]
      summary: Place Order
      operationId: placeOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
  /orders/{orderId}:
    get:
      tags: [Orders]
      summary: Get Order
      operationId: getOrder
      parameters:
        - { name: orderId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
    delete:
      tags: [Orders]
      summary: Cancel Order
      operationId: cancelOrder
      parameters:
        - { name: orderId, in: path, required: true, schema: { type: string } }
      responses:
        '204':
          description: Cancelled
  /orders/{orderId}/deliveries:
    get:
      tags: [Deliveries]
      summary: List Deliveries
      operationId: listDeliveries
      parameters:
        - { name: orderId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Deliveries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Delivery'
  /estimates:
    post:
      tags: [Estimates]
      summary: Estimate Order Cost
      operationId: estimateOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '200':
          description: Estimate
          content:
            application/json:
              schema:
                type: object
                properties:
                  estimated_cost:
                    type: number
                  currency:
                    type: string
                    example: USD
                  area_km2:
                    type: number
                  rate_per_km2:
                    type: number
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    OrderRequest:
      type: object
      required: [aoi, items]
      properties:
        name:
          type: string
        aoi:
          type: object
          description: GeoJSON geometry
        items:
          type: array
          items:
            type: object
            properties:
              catalog_id:
                type: string
              collection:
                type: string
        delivery:
          type: object
          properties:
            type:
              type: string
              enum: [s3, gcs, download]
            destination:
              type: string
        output_format:
          type: string
          enum: [geotiff, jpeg2000, nitf]
    Order:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        status: { type: string, enum: [pending, in_progress, complete, failed, cancelled] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        cost: { type: number }
        currency: { type: string }
        items:
          type: array
          items:
            type: object
            properties:
              catalog_id: { type: string }
              status: { type: string }
    Delivery:
      type: object
      properties:
        id: { type: string }
        order_id: { type: string }
        status: { type: string, enum: [pending, in_progress, complete, failed] }
        url: { type: string }
        format: { type: string }
        size_bytes: { type: integer }
        delivered_at: { type: string, format: date-time }
